$color1: rgba(235, 246, 255, 1)
$color2: rgba(255, 182, 104, 1)
$color3: rgba(255, 135, 135, 1)
$color4: rgba(134, 173, 214, 1)
$color5: rgba(147, 144, 212, 1)

$text-grey: rgb(105, 105, 105)
$text-grey-active: rgb(138, 138, 138)

$content-background: rgb(223, 223, 223)

.grad1-add, .grad1-remove, .grad2-add, .grad2-remove, .grad3-add, .grad3-remove, .grad4-add, .grad4-remove, .grad5-add, .grad5-remove
  transition: background 1000ms linear

.grad1, .grad1-add.grad1-add-active
  background: linear-gradient(36deg, $color1, $color4)

.grad2, .grad2-add.grad2-add-active
  background: linear-gradient(36deg, $color4, $color3)

.grad3, .grad3-add.grad3-add-active
  background: linear-gradient(36deg, $color3, $color2)

.grad4, .grad4-add.grad4-add-active
  background: linear-gradient(36deg, $color2, $color5)

.grad5, .grad5-add.grad5-add-active
  background: linear-gradient(36deg, $color5, $color1)
