@import fonts
@import vars

@import header

body
  font-family: 'Baron Neue'
  margin: none
  height: 200vh

main
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  .sidePanel
    height: 100%
  .styleContent
    position: absolute
    right: 0
    top: 0
    background-color: $content-background
    height: 100%
    width: 50%
