@import fonts
@import vars

@import header

body
  font-family: 'Baron Neue'
  margin: none
  height: 200vh

main
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  .sidePanel
    position: absolute
    left: 0
    top: 0
    height: 500%
    width: 100vw
    z-index: 10
    transition: top 400ms linear
    .section-container
      position: fixed
      top: 50vh
      left: 15vw
      transform: translate(-50%, -50%)
      width: 20vw
      height: 50vh
      display: grid
      opacity: 0.75
      .section
        color: white
        font-family: 'Baron Neue', sans-serif
        font-size: 2em
        font-weight: 400
        background-color: rgba(255, 255, 255, 0)
        outline: none
        border: none
        position: relative
        text-align: center
        user-select: none
        transition: color 100ms
        &:after
          content: ''
          width: 60px
          height: 4px
          background: white
          position: absolute
          bottom: -8px
          left: 50%
          transform: translateX(-50%)
        &:hover
          color: $text-grey-active
  .styleContent
    position: absolute
    right: 0
    top: 0
    background-color: $content-background
    height: 100%
    width: 70vw
    display: flex
    justify-content: center
    align-items: center
    .contentWindow
      width: 80%
      height: 80%
