<!DOCTYPE html>
<html>

  <head >
    <meta charset="utf-8">
    <title>Odin & Osgar Styleguide</title>
    <link rel="stylesheet" href="styles/main.min.css">
  </head>

  <body>

    <header>
      <img class="logo" src="assets/icons/logo.svg" alt="Logo">
      <h1></h1>
    </header>

    <main>
      <div class="sidePanel grad1">
        <div class="section-container">
          <h1 class="section" data-grad="grad1">Logo</h1>
          <h1 class="section" data-grad="grad2">Typeography</h1>
          <h1 class="section" data-grad="grad3">Color Pallette</h1>
          <h1 class="section" data-grad="grad4">Imagery</h1>
          <h1 class="section" data-grad="grad5">Story</h1>
        </div>
      </div>

      <div class="styleContent">
        <div class="contentWindow">

        </div>
      </div>
    </main>

    <script src="vendors.min.js" charset="utf-8"></script>
    <script src="bundle.min.js" charset="utf-8"></script>
  </body>

</html>
