<!DOCTYPE html>
<html ng-app="myApp">
  <head >
    <meta charset="utf-8">
    <title>Odin & Osgar Styleguide</title>
    <link rel="stylesheet" href="/public/main.min.css">
  </head>
  <body ng-controller="mainController as mc" ng-init="ready()">

    <header>
      <img class="logo" src="/public/assets/icons/logo.svg" alt="Logo">
      <h1></h1>
    </header>

    <main>
      <div class="sidePanel grad1" ng-class="'' + gradient" >
        <div class="section-container">
          <h1 class="section {{section.title}}" ng-repeat="section in sections" data="{{section.title}}" ng-click="setGradient(section)">{{section.title}}</h1>
        </div>
      </div>

      <div class="styleContent">
        <div class="contentWindow">

        </div>
      </div>
    </main>

    <script src="/public/vendors.min.js" charset="utf-8"></script>
    <script src="/public/bundle.min.js" charset="utf-8"></script>
  </body>
</html>
